<div  class="d-flex">
  <div class="left text-white sticky-top bg-dark">
    <div class="d-flex vh-100 flex-column ">
      <div class="sticky-top ">

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3  class="float-right pb-2 pt-2"> &nbsp;Flatkit &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h3>
        <img class="float-right  " src="../../../assets/images/logo.png" height="50" width="35"/></div>
  <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Main</small>
<div class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bullseye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
  <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
  <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
</svg><strong>&nbsp;&nbsp;&nbsp;Dashboard</strong></div>
      <div  class="flex-fill overflow-auto">
        <div class="container">
          <div class="btn-group">
            <button type="button" class="btn btn-dark">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-open-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
            </svg>&nbsp;&nbsp;
              Apps &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Tablet</a>
              <a class="dropdown-item" href="#">Smartphone</a>
            </div>
          </div>
        </div>

        <div  class="flex-fill overflow-auto">
          <div class="container">
            <div class="btn-group">
              <button type="button" class="btn btn-dark">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-grid-3x3-gap-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
                </svg>&nbsp;&nbsp;
                Layouts &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
              <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="caret"></span>
              </button>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Tablet</a>
                <a class="dropdown-item" href="#">Smartphone</a>
              </div>
            </div>
          </div>
        </div>

        <div  class="flex-fill overflow-auto">
          <div class="container">
            <div class="btn-group">
              <button type="button" class="btn btn-dark">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-menu-button-wide-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M14 7H2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zM2 6a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2H2z"/>
                  <path fill-rule="evenodd" d="M15 11H1v-1h14v1zM2 12.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0h-13zm1 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm9.927.427l.396.396a.25.25 0 0 0 .354 0l.396-.396A.25.25 0 0 0 13.396 2h-.792a.25.25 0 0 0-.177.427z"/>
                </svg>&nbsp;&nbsp;
               <strong> Widgets&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></button>

            </div>
          </div>
        </div>
        <div  class="flex-fill overflow-auto">
          <div class="container">
            <div class="btn-group">
              <button type="button" class="btn btn-dark">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-grid-3x3-gap-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"/>
                </svg>&nbsp;&nbsp;
                Layouts &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
              <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="caret"></span>
              </button>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Tablet</a>
                <a class="dropdown-item" href="#">Smartphone</a>
              </div>
            </div>
          </div>
        </div>

        <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Components</small>

        <div  class="flex-fill overflow-auto">
          <div class="container">
            <div class="btn-group">
              <button type="button" class="btn btn-dark">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                </svg>&nbsp;&nbsp;
               Ul kit &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
              <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="caret"></span>
              </button>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Tablet</a>
                <a class="dropdown-item" href="#">Smartphone</a>
              </div>
            </div>
          </div>
        </div>


        <div  class="flex-fill overflow-auto">
          <div class="container">
            <div class="btn-group">
              <button type="button" class="btn btn-dark">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-break" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M0 10.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                  <path d="M12 0H4a2 2 0 0 0-2 2v7h1V2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v7h1V2a2 2 0 0 0-2-2zm2 12h-1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-2H2v2a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-2z"/>
                </svg>&nbsp;&nbsp;
                Pages  &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
              <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="caret"></span>
              </button>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Tablet</a>
                <a class="dropdown-item" href="#">Smartphone</a>
              </div>
            </div>
          </div>
        </div>


        <div  class="flex-fill overflow-auto">
          <div class="container">
            <div class="btn-group">
              <button type="button" class="btn btn-dark">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bullseye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                  <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
                  <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                </svg>&nbsp;&nbsp;
                Form &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
              <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="caret"></span>
              </button>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Tablet</a>
                <a class="dropdown-item" href="#">Smartphone</a>
              </div>
            </div>
          </div>
        </div>


        <div  class="flex-fill overflow-auto">
          <div class="container">
            <div class="btn-group">
              <button type="button" class="btn btn-dark">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar2-range" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                  <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM9 8a1 1 0 0 1 1-1h5v2h-5a1 1 0 0 1-1-1zm-8 2h4a1 1 0 1 1 0 2H1v-2z"/>
                </svg>&nbsp;&nbsp;
                Tables &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
              <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="caret"></span>
              </button>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Tablet</a>
                <a class="dropdown-item" href="#">Smartphone</a>
              </div>
            </div>
          </div>
        </div>

        <div  class="flex-fill overflow-auto">
          <div class="container">
            <div class="btn-group">
              <button type="button" class="btn btn-dark">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-graph-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
                </svg>&nbsp;&nbsp;
                Charts &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
              <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="caret"></span>
              </button>

              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Tablet</a>
                <a class="dropdown-item" href="#">Smartphone</a>
              </div>
            </div>
          </div>
        </div>
        <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Help</small>
        <menu class="text-muted mr-5">Documents</menu>
      </div>

      <div>

        <img class="rounded-circle ml-3" src="../../../assets/images/profil.jpg" height="40" width="40"/>
        &nbsp;
Fatih Yıldırım
      </div>
    </div>
  </div>


  <div class="flex-fill vh-100 overflow-auto right p-3 border">
    <div class=" pt-2 mt-1 mr-5 float-right">
      <form class="form-inline" action="#">
        <input style="border-radius: 20px" class="form-control border-top " type="text" placeholder="Search projects...">

      </form>
          </div>


    <div class="container-fluid p-3">
    <div class="header sticky-top ml-3"><h3 class="text-muted" ><strong>Dashboard + New </strong> </h3>
    </div>
    </div>



      <div class="row pb-3 ">
        <div class="col-4 ">
          <div class="bg-white p-2">
      <span class="w-48 rounded accent float-left pl-3 pt-3"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-envelope-open-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
</svg>
      </span>
            <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;125 <small class="text-sm">Emails</small><br>&nbsp;&nbsp;&nbsp;<small class="text-muted">6 new arrivals.</small></h4>

          </div>
        </div>

        <div class="col-4 ">

          <div class="bg-white  p-2">
            <span class="w-48 rounded accent float-left pl-3 pt-3"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-images" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M12.002 4h-10a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1zm-10-1a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-10zm4 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        <path fill-rule="evenodd" d="M4 2h10a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1v1a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2h1a1 1 0 0 1 1-1z"/>
      </svg></span>
            <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;40 <small class="text-sm">Projects</small><br>&nbsp;&nbsp;&nbsp;<small class="text-muted">38 open.</small></h4>
          </div>
        </div>

        <div class="col-4 ">

          <div class="bg-white p-2">
            <span class="w-48 rounded accent float-left pl-3 pt-3"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
    </svg></span>
            <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;600 <small class="text-sm">Users</small><br>&nbsp;&nbsp;&nbsp;<small class="text-muted">632 vips.</small></h4>
          </div>
        </div>

      </div>
    <div class="row  ">
      <div class=" col-xs-12 col-4">
        <div class="bg-white p-2">
          <h3>Projects monitor<svg width="0.6em" height="0.6em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
          </svg>

            <svg width="0.6em" height="0.6em" viewBox="0 0 16 16" class="bi bi-arrow-repeat float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
            </svg>

          </h3>
          <small>Calculated in last 30 days</small><br>
          <br>

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn white btn-sm border">Month</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn white btn-sm border border-left-0">Day</button><br>
          <img src="../../../assets/images/bölge1.jpg" height="188" width="520"/>

        </div>
      </div>

      <div class="col-xs-6 col-4">
        <div class="bg-white p-2">
          <h3>Tasks <svg width="0.6em" height="0.6em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
          </svg>
            <svg width="0.6em" height="0.6em" viewBox="0 0 16 16" class="bi bi-arrow-repeat float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
            </svg>
          </h3>
          <small>Calculated in last 7 days</small>
          <div class="text-center">
            <button class="btn white btn-sm border"> This Month</button>
            <button class="btn white btn-sm border border-left-0">This Week</button><br>
            <img class="" src="../../../assets/images/bölge2.jpg" width="520" height="210">
          </div>
        </div>
      </div>

      <div class=" col-xs-6 col-4">
        <div class="box">
          <div class="bg-white p-2">
            <h3>Sales <svg width="0.6em" height="0.8em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg>
              <svg width="0.6em" height="0.6em" viewBox="0 0 16 16" class="bi bi-arrow-repeat float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
              </svg>
            </h3>
            <small>Calculated in last 7 days</small>
            <div class="text-center">
              <button class="btn white btn-sm border"> Market</button>
              <button class="btn white btn-sm border border-left-0">Referral</button><br>
              <img class="" src="../../../assets/images/bölge3.jpg" width="520" height="210">
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="row">
  <div class="col-6 pt-3 ">
  <div class="bg-white">
  <h5 class="ml-3">Open Projects
  </h5>
    <small class="text-muted ml-3">  Your data status</small>

<div class="mt-3 ml-3">
  <div class="m-y-sm pull-right">
    <a href="" class="btn btn-xs white">Manage</a>
    <a href="" class="btn btn-xs white btn-icon">
      <i class="fa fa-pencil"></i>
    </a>
  </div>
  <img class="float-left" src="../../../assets/images/1.png" height="35" width="35"/>
  <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;Broadcast web app mockup <br> &nbsp;&nbsp; &nbsp;<span class="text-muted"><strong>5</strong> tasks, <strong>3</strong> issues</span></h4>
  <div class="m-y-sm pull-right">
    <a href="" class="btn btn-xs white">Manage</a>
    <a href="" class="btn btn-xs white btn-icon">
      <i class="fa fa-pencil"></i>
    </a>
  </div>
</div>
    <div class="mt-3 ml-3">

      <img class="float-left" src="../../../assets/images/2.png" height="35" width="35"/>
      <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;GoodDesign Bootstrap 4 migration <br> &nbsp;&nbsp; &nbsp;<span class="text-muted"><strong>35</strong> tasks, <strong>6</strong> issues</span></h4>
      <div class="m-y-sm pull-right">
        <a href="" class="btn btn-xs white">Manage</a>
        <a href="" class="btn btn-xs white btn-icon">
          <i class="fa fa-pencil"></i>
        </a>
      </div>
    </div>
    <div class="mt-3 ml-3">
      <img class="float-left" src="../../../assets/images/3.png" height="35" width="35"/>
      <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;#Hashtag android app develop <br> &nbsp;&nbsp; &nbsp;<span class="text-muted"><strong>52</strong> tasks, <strong>3</strong> issues</span></h4>
    </div>
    <div class="mt-3 ml-3">
      <div class="m-y-sm pull-right">
        <a href="" class="btn btn-xs white">Manage</a>
        <a href="" class="btn btn-xs white btn-icon">
          <i class="fa fa-pencil"></i>
        </a>
      </div>
      <img class="float-left" src="../../../assets/images/4.png" height="35" width="35"/>
      <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;Google material design application <br> &nbsp;&nbsp; &nbsp;<span class="text-muted"><strong>15</strong> tasks, <strong>3</strong> issues</span></h4>
    </div>
    <div class="mt-3 ml-3">
      <div class="m-y-sm pull-right">
        <a href="" class="btn btn-xs white">Manage</a>
        <a href="" class="btn btn-xs white btn-icon">
          <i class="fa fa-pencil"></i>
        </a>
      </div>
      <img class="float-left " src="../../../assets/images/11.jpg" height="35" width="35"/>
      <h4 class="m-a-0 text-lg _300">&nbsp;&nbsp;&nbsp;Facebook connection web application<br> &nbsp;&nbsp; &nbsp;<span class="text-muted"><strong>30</strong> tasks, <strong>3</strong> issues</span></h4>
    </div>
     </div>

</div>
<div class="col-6 ">
  <div class="bg-white mt-3">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-repeat float-right mt-4 mr-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
      <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
    </svg>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical float-right mt-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
    </svg>
    <h3 class="ml-3 pt-3">Stats <br><span class="text-muted">Your data status</span></h3>
    <table class="table">

      <thead>
      <tr>
        <th style="width:60px;" class="text-center">Graph</th>

        <th>Item</th>
        <th style="width:70px;"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <img class="float-left" src="../../../assets/images/5.png" height="30" width="50"/>
        </td>

        <td>App downloads</td>
        <td class="text-success">
          <i class="fa fa-level-up"></i> 40%
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <img class="float-left" src="../../../assets/images/6.png" height="30" width="50"/>
        </td>
        <td>Social connection</td>
        <td class="text-success">
          <i class="fa fa-level-up"></i> 20%
        </td>
      </tr>
      <tr>
        <td>
          <img class="float-left" src="../../../assets/images/7.png" height="30" width="50"/>
        </td>
        <td>Revenue</td>
        <td class="text-warning">
          <i class="fa fa-level-down"></i> 5%
        </td>
      </tr>
      <tr>
        <td>
          <img class="float-left" src="../../../assets/images/8.png" height="30" width="50"/>
        </td>
        <td>Customer increase</td>
        <td class="text-danger">
          <i class="fa fa-level-down"></i> 20%
        </td>
      </tr>
      <tr>
        <td>
          <img class="float-left" src="../../../assets/images/9.png" height="30" width="50  "/>
        </td>
        <td>Order placed</td>
        <td class="text-warning">
          <i class="fa fa-level-down"></i> 5%
        </td>
      </tr>

      </tbody>
    </table>





  </div>
</div>
</div>
</div>


</div>
