<nav class="navbar navbar-expand-lg navbar-light bg-dark">


    <img class="rounded-circle mr-5 mb-3 mt-3" src="../../../assets/images/lamborghini.png" height="70" width="71"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

    <div class="col-8">
      <ul class="navbar-nav pt-3">
        <li class="nav-item ">
          <a class="nav-link text-white " aria-current="page" href="#">Modeller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Satış</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Etkinlikler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Servis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Aksesuar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">İletişim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Markalarımız</a>
        </li>
        <span class="navbar-text pr-4 ml-5">
       <i class='fa fa-instagram text-white' style="font-size:34px"></i>
      </span>

        <span class="navbar-text pr-4">
       <i class='fa fa-twitter text-white' style='font-size:34px'></i>
      </span>
        <span class="navbar-text pr-4">
       <i class="fa fa-youtube-play text-white" style="font-size:34px"></i>
      </span>
        <span class="navbar-text pr-4">
      <i class='fa fa-facebook text-white' style='font-size:34px'></i>
      </span>

            </ul>

    </div>
    <div class="col-4 text-right">
      <a href="#" class="#"><i class="fa fa-search pt- mr-3 mb-3 mt-3 justify-content-end " style="font-size:36px;color: white"></i></a>
    </div>
    </div>

</nav>

<div class="container-fluid">
  <div class=" col-md pt-2 ml-2">
<div class="polaroid ">

  <img class="rounded shadow" src="https://porsche.b-cdn.net/img/modeller/cayenne-new/model-series-e3-cayenne-coupe-360-exterior-fallback.jpg" alt="https://www.porsche.com.tr/modeller/cayenne/" style="width:100%;height:100%;">

  <div class="ketıl text-muted">
    <h1>Mükemmel sport otomobiller.</h1>
    <h3 class="text-warning">En güçlü sekiz silindirli motorumuz sayesinde yoğun bir adrenalin patlaması ve kesintisiz haz anları. Yine de Cayenne Turbo hakkındaki en iyi şey size hissettirdiği üstün spor araba duygusudur.</h3>
  </div>
</div>
</div>
</div>

<div class="container-fluid">
  <div class="row">
  <div class="col-4">

    <img class="rounded" src="https://finder-images.porsche.com/4bc14393-6f0a-4713-9b94-2dcc095737c2/960x720.webp" alt="https://www.porsche.com.tr/modeller/cayenne/" style="width:100%;height:100%;">

  </div>
  <div class="col-4">
    <img class="rounded " src="https://finder-images.porsche.com/e58ab2be-d2de-42e4-879c-e392515f5938/960x720.webp" alt="https://www.porsche.com.tr/modeller/cayenne/" style="width:100%;height:100%;">

  </div>
  <div class="col-4">
    <img class="rounded" src="https://finder-images.porsche.com/978fcb5b-3d13-40a8-98ac-a0bd81e6a637/960x720.webp" alt="https://www.porsche.com.tr/modeller/cayenne/" style="width:100%;height:100%;">

  </div>
</div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2">
      <h1>Panamera 4</h1>
<button style="border-radius:25px;color: white" class="disabled bg-dark">Yeni araç</button>
<div class="link1">
      <p>Dealer: <a href="#">Porsche Center Türkiye</a> </p>
</div>
       </div>
    <div class="col-xl-1 border-right border-dark text-right text-muted">
<h5>Güç</h5>
      <br>
      <h3 class="text-dark">243 kW</h3>
    </div>
    <div class="col-xl-1 text-left text-muted">
      <h5>Model Yılı</h5>
      <br>
      <h3 class="text-dark">2021</h3>
    </div>
    <div class="col-4">

    </div>
    <div class="col-xl-4">
      <h1>4.370.000 TL</h1>
      <br>
      <button style="border-radius:25px;color: darkred" class="bg-warning "> >Bizimle İletişime geçin </button>
    </div>
  </div>
</div>
<div class="text-muted">STOK NUMARASI:: 088VIN: WP0ZZZ97ZML111141</div>

<div class="container">
  <div class="row">
<div class="col-1">


</div>
<div class="col-xl-2">

  <img class="ml-5 mt-5" src="../../../assets/images/arabarengi.jpg" height="51" width="51"/>
  <br>
  <small class="text-muted text-center ml-4">Gövde Rengi:
  </small>
  <br>
<h6>Metalik Volkan Grisi</h6>
</div>
    <div class="col-xl-2">
      <img class="ml-5 mt-5" src="../../../assets/images/arabarengi2.jpg" height="51" width="51"/>
      <br>
      <small class="text-muted text-center ml-3">İç Renk ve Malzeme
      </small>
      <br>
      <h6>Saddle Kahverengi doğal deri iç mekan</h6>


    </div>
    <div class="col-xl-2">
      <i class='fa fa-angellist mt-5 ml-5' style='font-size:41px'></i>
      <br>
      <small class="text-muted text-center mt-5 ml-4">Yakıt Türü

      </small>
      <br>
      <h6 class="ml-4">Petrol</h6>

    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-1"></div>
  </div>
</div>


