
  <div class="container-fluid " >


    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="bölüm1">

    <a class="navbar-brand" href="#">
      <img class="mr-3 ml-5" src="../../../assets/images/image/logo.full.png" height="35" width="35"/>
    </a>
      <a class="navbar-brand" href="#">
        <img class="mr-3 " src="../../../assets/images/image/logo2.png" height="36" width="127"/>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#"><strong>GAMES</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mx-3" href="#"><strong>CREWS</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mx-3" href="#"><strong>JOBS</strong></a>
        </li>
             <li class="nav-item">
          <a class="nav-link text-white mx-3" href="#"><strong>PHOTOS</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mx-3" href="#"><strong>VIDEOS</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text- mx-3" href="#"><strong>Events</strong></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-white " href="#"><strong>NEWS</strong></a>
        </li>
      </ul>
      <span class="navbar-text text-white">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
       <a class="nav-link text-white my-2 " href="#"><strong>SIGN IN</strong></a>
            </li>
                  <li class="nav-item">
        <a class="nav-link text-white my-2" href="#"><strong>SIGN UP</strong></a>
            </li>
            <li class="nav-item">
       <button id="color1" class="active rounded mx-3"><small><strong>DOWNLOAD <br> LAUNCHER</strong></small></button>
          </li>
             </ul>
      </span>
      <span class="navbar-text">
        <a class="nav-link text-white " href="#"><i style="font-size: 30px;" class='fa fa-search'></i></a>
      </span>
      <span class="navbar-text">

        <a class="nav-link text-white mr-5" href="#"><i  style="font-size: 30px;"class='fa fa-user-circle'></i></a>
      </span>
    </div>
</nav>

  </div>
<header id="home">
<div class="img-overlay">
  <div id="card1" class="container-fluid">
    <div class="row">
      <div class="col-sm-4 offset-2  ">
        <div class="card ket" style="max-height: 600px; max-width: 660px;">
          <div class="card-body">
            <img class="rounded mx-auto d-block mt-5" src="../../../assets/images/image/logo3.png" height="116" width="568"/>
            <h3 class="card-text text-center text-white mt-5 mb-5">Join over 100 million Social Club members worldwide on the official<br> Rockstar Games platform to enhance and extend your gaming experience.</h3>
            <button id="button1" type="button" class="btn btn-outline-secondary ml-5 mt-5 mr-5 "><strong>Sign In</strong></button>
            <button id="button2" type="button" class="btn btn-outline-warning bg-warning text-white mt-5  "><strong>Sign Up</strong></button>
            <div>
              <h6 class="text-white" id="logo1">Or sign in with:</h6>
              <a id="logo2" href="#"> <img  class="mx-2" src="../../../assets/images/image/plays.png" height="32" width="32"/></a>
              <a id="logo3" href="#" class=""> <img  src="../../../assets/images/image/xbox.png" height="32" width="32"/></a>
            </div>


          </div>
        </div>
      </div>

      <div class="col-lg-6  ">

        <img id="hello31" src="../../../assets/images/image/1rock.png" height="558" width="612"/>
      </div>
    </div>
  </div>

</div>

</header>
  <section>
<div class="container">
  <div class="card mb-3 m-auto mt-5 mb-5" style="max-height: 227px; max-width: 952px;">
    <div class="row g-0">

      <div style="background-color: black" class="col-md-6 p-3">

        <img src="../../../assets/images/image/logofll.png" height="157" width="375"/>
        <div class="">
          <p class="pt-2" style="color: #ECAF17"><strong>Download and play the latest <br> Rockstar Games PC titles</strong></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <img  class="img-fluid float-right" src="../../../assets/images/image/rdr2.jpg" height="188" width="152"/>
          <p class="pb-2"><strong>Red Dead Redemption 2</strong> for PC is available now on the Rockstar Games Launcher.</p>
          <div class="d-grid gap-2 pt-5 pr-3">
            <button class="btn btn-warning p-2" type="button"><strong>Download for Windows</strong></button>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  </section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">

        <h3 class="text-center mt-5">Enhance and extend your game experience.</h3>


      </div>

    </div>
  </div>
<div class="container">
  <div class="row mt-5">

    <div class="card mx-2" style="width: 18rem;">
      <img  src="../../../assets/images/image/4rock.jpg" height="204" width="366" class="card-img-top mt-2" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Prime gaming x Social Club Benefits</h5>
        <p class="card-text text-center">Gifts, bonuses, and discounts in Grand Theft Auto Online and Red Dead Online.</p>

      </div>
    </div>

    <div class="card mx-2" style="width: 18rem;">
      <img  src="../../../assets/images/image/5rock.jpg" height="204" width="366" class="card-img-top mt-2" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Crews</h5>
        <p class="card-text text-center">Crews are a great way to play together online. Create your own
          Crew and invite your Social Club friends or join an established Crew and jump straight into the action.</p>

      </div>
    </div>

    <div class="card mx-2" style="width: 18rem;">
      <img  src="../../../assets/images/image/6rock.jpg" height="204" width="366" class="card-img-top mt-2" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Community content</h5>
        <p class="card-tex text-centert">A diverse world is ready for you to explore. In-game or on Social Club, share photos from
          your travels and discover content shared by the rest of the community.</p>

      </div>
    </div>

    <div class="card " style="width: 18rem;">
      <img  src="../../../assets/images/image/7rock.jpg" height="204" width="366" class="card-img-top mt-2" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Robust Stat Tracking</h5>
        <p class="card-text text-center">Whether you’re discovering Grand Theft Auto V or traversing the world of Red Dead Redemption 2,
          track your progress on the Rockstar Games Social Club. View your achievements and compare with your friends to see just how far you’ve come.</p>

      </div>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <h3 class="text-center mt-5">Follow the latest stories from the Rockstar Newswire.</h3>


    </div>

  </div>
</div>
  <div class="container">
    <div class="row mt-5">

      <div class="card mx-2" style="width: 18rem;">
        <img  src="../../../assets/images/image/4rock.jpg" height="204" width="366" class="card-img-top mt-2" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Prime gaming x Social Club Benefits</h5>
          <p class="card-text text-center">Gifts, bonuses, and discounts in Grand Theft Auto Online and Red Dead Online.</p>

        </div>
      </div>

      <div class="card mx-2" style="width: 18rem;">
        <img  src="../../../assets/images/image/5rock.jpg" height="204" width="366" class="card-img-top mt-2" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Crews</h5>
          <p class="card-text text-center">Crews are a great way to play together online. Create your own
            Crew and invite your Social Club friends or join an established Crew and jump straight into the action.</p>

        </div>
      </div>

      <div class="card mx-2" style="width: 18rem;">
        <img  src="../../../assets/images/image/6rock.jpg" height="204" width="366" class="card-img-top mt-2" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Community content</h5>
          <p class="card-tex text-centert">A diverse world is ready for you to explore. In-game or on Social Club, share photos from
            your travels and discover content shared by the rest of the community.</p>

        </div>
      </div>

      <div class="card mx-4" style="width: 18rem;">
        <img  src="../../../assets/images/image/7rock.jpg" height="204" width="366" class="card-img-top mt-2" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Robust Stat Tracking</h5>
          <p class="card-text text-center">Whether you’re discovering Grand Theft Auto V or traversing the world of Red Dead Redemption 2,
            track your progress on the Rockstar Games Social Club. View your achievements and compare with your friends to see just how far you’ve come.</p>

        </div>
      </div>

    </div>
  </div>
  <header id="home1">
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm-6">


      <img src="../../../assets/images/image/11rock.png" height="583" width="681"/></div>
    <div class="col-sm-5 mt-5 offset-1 ">
      <div class="card" style="width: 25rem;">
               <div class="card-body">
                 <p class="card-title"><strong>Rockstar Events </strong> <a class="" href="#"><small class="text-warning float-right">View All</small></a></p>
                 <hr>
                 <p class="card-title"><strong>Hallowen Pass </strong> <a class="btn btn-warning float-right" href="#"><small class="text-white float-right">FEATURED</small></a></p>

          <p class="card-text">October 20 - December 1, 2020</p>

          <a style="font-size: 10px" href="#" class="btn btn-danger">In-Game Bonus</a>
                 <hr>
                 <p class="card-title"><strong>Double XP on Bounty Hunter Missions </strong> <a class="btn btn-danger float-right" href="#"><small class="text-white float-right">LIVE</small></a></p>

                 <p class="card-text">December 1- December 1, 2020</p>

                 <a style="font-size: 10px" href="#" class="btn btn-danger">In-Game Bonus</a>
                 <hr>
                 <p class="card-title"><strong>Legendary Bounty - Gene 'Beau' Finley</strong> <a class="btn btn-danger float-right" href="#"><small class="text-white float-right">LIVE</small></a></p>

                 <p class="card-text">December 1 - December 1, 2020</p>

                 <a style="font-size: 10px" href="#" class="btn btn-danger">In-Game Bonus</a>
                 <hr>
        </div>
      </div>

    </div>


  </div>

</div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">

        <h3 class="text-center mt-5">Follow the latest stories from the Rockstar Newswire. <a href="#" class="text-warning">View All</a></h3>


      </div>

    </div>
  </div>
  <div class="container">
    <div class="row mt-5 mx-5">

      <div class="col">
        <img class="rounded  " src="../../../assets/images/image/13rock.jpg" height="224" width="256,5"/></div>

      <div class="col">
        <img  class="rounded "src="../../../assets/images/image/14rock.jpg" height="224" width="256,5"/></div>

      <div class="col">
        <img class="rounded " src="../../../assets/images/image/15rock.jpg" height="224" width="256,5"/></div>

      <div class="col">
        <img  class="rounded mb-5 " src="../../../assets/images/image/rdr2.jpg" height="224" width="256,5"/></div>





    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="p-2 text-white border border-left-0  border-bottom-0  border-top-0">SIGN UP</div>
        <div class="p-2 text-white border border-left-0  border-bottom-0  border-top-0">SIGN IN</div>
        <div class="p-2 text-white border border-left-0  border-bottom-0  border-top-0">LEGAL</div>
        <div class="p-2 text-white border border-left-0  border-bottom-0  border-top-0">PRIVACY</div>
        <div class="p-2 text-white border border-left-0  border-bottom-0  border-top-0">SUPPORT</div>
        <div class="p-2 text-white border border-left-0  border-bottom-0  border-top-0">COOKIES</div>
        <div class="p-2 text-white ">DO NOT SELL MY INFO</div>
           </div>
    </div>
  </div>
