.bg-yellow
{
  background: linear-gradient(#ed6670, #f2ad4e);
}


.background-volume {
background: linear-gradient(#ed6670, #f2ad4e);

height: 300px;
}


.py-6 {

  padding: 150px;
}


.bg-soft {

  background-color: #00000099;
}
