<nav class="navbar navbar-dark bg-soft navbar-expand-lg text-white sticky-top">

 <div class="container my-2">

   <a href="#" style="font-size: 25px; color: #ed6670" class="navbar-brand"><strong>Spotify</strong></a>
   <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-spotify" aria-controls="">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbar-spotify">
     <ul class="navbar-nav ml-auto ">

<li class="nav-item">
  <a href="#"  class="nav-link text-white">Premium</a>
</li>
       <li class="nav-item px-3">
         <a href="#"  class="nav-link text-white">Yardım</a>
       </li>
       <li class="nav-item px-3">
         <a href="#"  class="nav-link text-white">İndir </a>
       </li>
      <li class="nav-item px-3">
         <a href="#"  class="nav-link text-white">Kayıt ol </a>
       </li>


       <li class="nav-item pl-3">
         <a href="#"  class="nav-link text-white">Oturum aç</a>
       </li>
     </ul>


   </div>

 </div>
</nav>

<section class="background-volume py-5">
<div class="container">
  <div id="spotify-slider" class="carousel carousel-dark slide" data-ride="carousel">
    <div class="carousel-inner text-center">

      <div class="carousel-item active">
        <h1 class="display-3">
         Herkes İçin Müzik</h1>
        <a href="#" class="btn btn-success mx-3 mt-5 rounded-pill">Spotify'ı ücretsiz olarak al </a>
        <a href="#" class="btn btn-outline-secondary mt-5 rounded-pill text-white">Spotfy Premium'a Geç</a>
      </div>
      <div class="carousel-item">
        <h1 class="display-3">
         Tüm Ailen İçin Premium.<br>
        Sadece 20,99 TL.</h1>
        <a href="#" class="btn btn-success mt-2 rounded-pill">DAHA FAZLA BİLGİ</a>
      </div>
      <div class="carousel-item">
        <h1 class="display-3">
        Öğrenci ½50 Premium <br> indirimi alır.</h1>
        <a href="#" class="btn btn-success mt-2 rounded-pill">DAHA FAZLA BİLGİ</a>
      </div>

      <div class="carousel-item">
        <h1 class="display-3">
          Spotify'ı playStotion ve <br>Xbox one'da çal.</h1>
        <a href="#" class="btn btn-success mt-2 rounded-pill">DAHA FAZLA BİLGİ</a>
      </div>

    </div>

    <a href="#spotify-slider"  class="carousel-control-prev" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#spotify-slider" class="carousel-control-next" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>


  </div>

  </div>
</section>

<section class="py-5">

  <div class="container">

  <div class="row">
    <div class="col-md-6">
      <h2><strong>Spotify'da neler var?</strong></h2>

      <h4><strong>Müzik </strong></h4>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Deleniti distinctio quod sapiente sequi tenetur veniam! </p>
      <h4><strong>Çalma Listeleri </strong></h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Deleniti distinctio quod sapiente sequi tenetur veniam! </p>

      <h4><strong>Yeni Çıkanlar </strong></h4>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Deleniti distinctio quod sapiente sequi tenetur veniam! </p>

    </div>




 <div class="col-md-6">
<div class="row">
  <div class="col-md-6">


    <img class="img-fluid mx-1 my-1" src="../../../assets/images/r2.jpg" />
  </div>
  <div class="col-md-6">


    <img class="img-fluid  mx-1 my-1" src="../../../assets/images/r2.jpg" />

  </div>

  <div class="col-md-6">


    <img class="img-fluid  mx-1 my-1" src="../../../assets/images/r2.jpg" />
  </div>

  <div class="col-md-6">


    <img class="img-fluid  mx-1 my-1" src="../../../assets/images/r2.jpg" />

  </div>


</div>
  </div>
  </div>
  </div>

</section>

<section class="bg-yellow py-5">
  <div class="container py-5">
<div class="row">
  <div class="col-md-4 offset-1 d-sm-none d-md-block">
<h5 class="text-center text-white ">Senin için yapıldı.</h5>
<div class="row">
  <div class="col-sm-6 text-center">


    <img class="img-fluid text-center" src="../../../assets/images/r1.jpg" />
<small class="text-dark">Sana özel günün derlemesi</small>
  </div>
  <div class="col-sm-6 text-center ">


    <img class="img-fluid" src="../../../assets/images/r2.jpg" />
    <small class="text-dark">Yeni çıkan radarı</small>
  </div>

<ul class="list-unstyled m-3">
  <li class="py-2">listeler</li>
  <li class="py-2">Yeni Çıkanlar</li>
  <li class="py-2">Videolar</li>
  <li class="py-2">Podcast'lar</li>
  <li class="py-2">Keşfet</li>


</ul>


</div>

  </div>


  <div class="col-md-6 offset-1">
    <h2><strong>Kolaydır.</strong></h2>
    <br>
    <h3><strong>Ara</strong></h3>
    <p><strong>Ne dinlemek istediğini biliyor musun? Sadece ara ve<br> çal'a dokun.</strong></p>
       <br>
    <h3><strong>Gözat</strong></h3>
    <p><strong>En yeni listeleri, yeni çıkanları ve harika çalma listelerini<br>Hemen keşfet. </strong></p>
       <br>
    <h3><strong>Keşfet</strong></h3>
    <p><strong>Kişesel çalma listenle her pazartesi yeni müziklerin tadını <br>Çıkart. Yada arkana yaslan radyo dinle. </strong></p>




  </div>




</div>

  </div>
</section>

<section class="py-6">
  <div class="container">
    <div class="row">
    <div class="col-md-6">
      <h1> Bir Hesap. Her yerde Dinle</h1>
      <ul class="list-inline mt-5">
        <li class="list-inline-item">Mobil</li>
        <li class="list-inline-item">Tablet</li>
        <li class="list-inline-item">Araba</li>
        <li class="list-inline-item">Bilgisiyar</li>
      </ul>
      <ul class="list-inline mt-5 mb-5">
        <li class="list-inline-item">Hoparlör</li>
        <li class="list-inline-item">PlayStson</li>
        <li class="list-inline-item">Xbox</li>
        <li class="list-inline-item">Tv</li>
        <li class="list-inline-item">Web çalar</li>

      </ul>
    </div>
    <div class="col-md-6">


      <img class="img-fluid" src="../../../assets/images/r1.jpg" />

    </div>
  </div>
  </div>
</section>

<section class="bg-yellow py-5">
<div class="container">
  <h1 class="text-center mb-5">Müziğe ulaş. </h1>
  <div class="row">
      <div class="col-md-4 offset-md-2 ">

        <div class="card">
          <div class="card-body mb-4">
            <h4>Spotify Free </h4>
<h2 style="margin-bottom: 72px;">0,00 TL / <small>ay</small></h2>
            <hr>
            <ul class="list-unstyled ">
              <li class="mb-1">Karışık çal</li>
              <li class="text-muted mb-1">Reklamsız</li>
              <li class="text-muted mb-1">Sınırsız çalma hakkı</li>
              <li class="text-muted mb-1">Çevrimdışı dinle</li>
              <li class="text-muted mb-1">İstediğin parçayı çal</li>
              <li class="text-muted mb-1">Yüksek kalite ses</li>

            </ul>
            <hr>
            <div class="d-grid gap-2">
              <button class="btn btn-success" type="button"><strong>Ücretsiz Edinin</strong></button>

            </div>
          </div>
        </div>
      </div>

<div class="col-md-4">
  <div class="card">
    <div class="card-body mb-4">
      <h4>Spotify Free </h4>
      <h2>13,99 TL / <small>ay</small></h2>
      <small>İlk 30 gün ücretsiz denemeni başlat. Aile ve öğreci tekliflerimiz vardır. </small>
      <hr>
      <ul class="list-unstyled">
        <li class="mb-1">Karışık çal</li>
        <li class="text-muted mb-1">Reklamsız</li>
        <li class="text-muted mb-1">Sınırsız çalma hakkı</li>
        <li class="text-muted mb-1">Çevrimdışı dinle</li>
        <li class="text-muted mb-1">İstediğin parçayı çal</li>
        <li class="text-muted mb-1">Yüksek kalite ses</li>

      </ul>
      <hr>
      <div class="d-grid gap-2">
        <button class="btn btn-success" type="button"><strong>Premium Edinin</strong></button>

      </div>
    </div>
  </div>
</div>
  </div>
</div>
<p class="text-center"> <small class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eligendi exercitationem iure molestias pariatur quasi quod? Assumenda commodi rerum vero.</small></p>

</section>

<footer class="bg-dark">

  <div class="container">
  <div class="row">
    <div class="col-2">
  <h1 class="text-white my-5 mr-5"><strong>Spotify</strong></h1>
    </div>
    <div class="col-md-2">
    <h5 class="text-muted mt-5">ŞİRKET</h5>
      <br>
      <ul class="list-unstyled">
        <li class="text-white ">Hakkında</li>
        <li class="text-white">İşler</li>
        <li class="text-white">Basın</li>
        <li class="text-white">Haberler</li>
      </ul>
    </div>

    <div class="col-2">
      <h5 class="text-muted mt-5">Topluluklar</h5>
      <br>
      <ul class="list-unstyled">
        <li class="text-white">Lorem ipsum.</li>
        <li class="text-white">Lorem ipsum.</li>
        <li class="text-white">Lorem ipsum.</li>
        <li class="text-white">Lorem ipsum.</li>
      </ul>
    </div>

    <div class="col-6">
      <h5 class="text-muted mt-5">Lorem ipsum dolor.</h5>
      <br>
      <ul class="list-unstyled">
        <li class="text-white">Lorem ipsum.</li>
        <li class="text-white">Lorem ipsum.</li>
        <li class="text-white">Lorem ipsum.</li>
        <li class="text-white">Lorem ipsum.</li>
      </ul>

      <i class="fa fa-facebook-official float-right mx-5 mb-5" style="font-size:36px;color: white"></i>
      <i class="fa fa-twitter float-right mx-5" style="font-size:36px;color: white"></i>
      <i class="fa fa-instagram float-right mx-5"  style="font-size:36px;color: white"></i>

    </div>

<div class="container">
<div class="row">
  <div class="col-10 ">
    <a href="#"class="mx-3">Yardım </a>
    <a href="#"class="mx-3">Yardım </a>
    <a href="#"class="mx-3">Yardım </a>
    <a href="#"class="mx-3">Yardım </a>

  </div>
<div class="col-2 text-white">

<h5>Türkiye</h5>

<h5> 2018 Spotify AB</h5>
</div>

</div>

</div>
  </div>
  </div>
</footer>
